v3/n8n-workflow.json
{
  "name": "webdo24 — Intake Form → E-mail notifikace",
  "nodes": [
    {
      "id": "3f8a1b2c-0001-4a5b-8c9d-000000000001",
      "name": "Webhook — Příjem poptvky",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "web-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "3f8a1b2c-0002-4a5b-8c9d-000000000002",
      "name": "Kód — Formátování + HTML e-maily",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst f = v => (v && String(v).trim()) ? String(v).trim() : '\\u2014';\nconst esc = s => String(s || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;');\n\nconst urgColors = {\n  'Do 24 hodin': '#dc2626',\n  'Tento týden':  '#ea580c',\n  'Tento měsíc':  '#ca8a04',\n  'Flexibilní':   '#16a34a'\n};\nconst urgColor = urgColors[d.urgence] || '#6366f1';\n\nconst nabidkaItems = [d.nabidka_1, d.nabidka_2, d.nabidka_3]\n  .filter(x => x && x.trim())\n  .map((x, i) => `<li>${i + 1}. ${esc(x)}</li>`)\n  .join('') || '<li>\\u2014</li>';\n\nconst ts = new Date(d.odeslano || Date.now())\n  .toLocaleString('cs-CZ', { dateStyle: 'long', timeStyle: 'short' });\n\n/* ── EMAIL JANOVI ─────────────────────────────────────────────── */\nconst janHtml = `<!DOCTYPE html>\n<html lang=\"cs\"><head><meta charset=\"UTF-8\">\n<style>\n*{box-sizing:border-box}\nbody{margin:0;padding:20px;background:#f1f5f9;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif}\n.wrap{max-width:680px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;box-shadow:0 4px 32px rgba(0,0,0,.10)}\n.hdr{background:linear-gradient(135deg,#1e1b4b,#312e81);padding:36px;color:#fff}\n.badge{display:inline-block;background:${urgColor};color:#fff;padding:5px 14px;border-radius:100px;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:.5px}\n.hdr h1{margin:12px 0 4px;font-size:22px}\n.ts{color:rgba(255,255,255,.6);font-size:13px}\n.body{padding:36px}\n.crow{display:flex;flex-wrap:wrap;gap:16px;background:#eff6ff;border:1px solid #bfdbfe;border-radius:10px;padding:18px 20px;margin-bottom:28px}\n.ci{flex:1;min-width:140px}\n.ci .lbl{font-size:11px;color:#64748b;text-transform:uppercase;letter-spacing:.5px;margin-bottom:4px}\n.ci .val{font-size:14px;color:#1e3a8a;font-weight:700}\n.ci a{color:#1e3a8a}\n.sec{margin-bottom:24px}\n.st{font-size:10px;text-transform:uppercase;letter-spacing:1px;color:#94a3b8;font-weight:700;margin-bottom:10px;padding-bottom:8px;border-bottom:1px solid #f1f5f9}\n.row{display:flex;gap:8px;margin-bottom:7px}\n.rl{font-size:12px;color:#94a3b8;min-width:160px;flex-shrink:0}\n.rv{font-size:13px;color:#1e293b;font-weight:500;line-height:1.5}\n.prompt-box{background:#0f172a;border-radius:10px;padding:24px;margin-top:8px}\n.prompt-box pre{color:#e2e8f0;font-family:'Courier New',monospace;font-size:11px;line-height:1.7;margin:0;white-space:pre-wrap;word-break:break-word}\n.div{height:1px;background:#f1f5f9;margin:24px 0}\n.ftr{background:#f8fafc;padding:14px 36px;font-size:12px;color:#94a3b8;border-top:1px solid #e2e8f0}\na{color:#6366f1}\nul{margin:4px 0;padding-left:20px}\nul li{margin-bottom:3px;font-size:13px;color:#1e293b}\n</style></head>\n<body><div class=\"wrap\">\n<div class=\"hdr\">\n  <span class=\"badge\">${esc(f(d.urgence))}</span>\n  <h1>🔥 Nová poptávka — ${esc(f(d.firma))}</h1>\n  <div class=\"ts\">${ts}</div>\n</div>\n<div class=\"body\">\n  <div class=\"crow\">\n    <div class=\"ci\"><div class=\"lbl\">Jméno</div><div class=\"val\">${esc(f(d.kontakt_jmeno))}</div></div>\n    <div class=\"ci\"><div class=\"lbl\">E-mail</div><div class=\"val\"><a href=\"mailto:${esc(f(d.kontakt_email))}\">${esc(f(d.kontakt_email))}</a></div></div>\n    <div class=\"ci\"><div class=\"lbl\">Telefon</div><div class=\"val\">${d.kontakt_telefon ? `<a href=\"tel:${esc(d.kontakt_telefon)}\">${esc(d.kontakt_telefon)}</a>` : '\\u2014'}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Firma & projekt</div>\n    <div class=\"row\"><div class=\"rl\">Název</div><div class=\"rv\">${esc(f(d.firma))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Popis</div><div class=\"rv\">${esc(f(d.cinnost))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Působnost</div><div class=\"rv\">${esc(f(d.pusobnost))}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Unikátní hodnota</div>\n    <div class=\"row\"><div class=\"rl\">Proč si je vybírají</div><div class=\"rv\">${esc(f(d.uvp))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Jsme jediní, kdo…</div><div class=\"rv\">${esc(f(d.jedini_kdo))}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Zákazník</div>\n    <div class=\"row\"><div class=\"rl\">Popis</div><div class=\"rv\">${esc(f(d.zakaznik_popis))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Problém před</div><div class=\"rv\">${esc(f(d.problem_pred))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Výsledek po</div><div class=\"rv\">${esc(f(d.vysledek_po))}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Nabídka</div>\n    <ul>${nabidkaItems}</ul>\n    <div class=\"row\" style=\"margin-top:10px\"><div class=\"rl\">Hero offer</div><div class=\"rv\">${esc(f(d.hero_offer))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Cenové rozpětí</div><div class=\"rv\">${esc(f(d.cena))}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Důvěra & social proof</div>\n    <div class=\"row\"><div class=\"rl\">Čísla & fakta</div><div class=\"rv\">${esc(f(d.duvera_cisla))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Nejsilnější reference</div><div class=\"rv\">${esc(f(d.duvera_reference))}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Konverze</div>\n    <div class=\"row\"><div class=\"rl\">Hlavní CTA</div><div class=\"rv\">${esc(f(d.cil))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Kontakt na webu</div><div class=\"rv\">${esc(f(d.kontakt_udaje))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Vstupní nabídka</div><div class=\"rv\">${esc(f(d.vstupni_nabidka))}</div></div>\n  </div>\n  <div class=\"sec\">\n    <div class=\"st\">Brand & design</div>\n    <div class=\"row\"><div class=\"rl\">Tón komunikace</div><div class=\"rv\">${esc(f(d.ton))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Brand slova</div><div class=\"rv\">${esc(f(d.brand_slova))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Vyhnout se</div><div class=\"rv\">${esc(f(d.vyhnout_se))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Vizuální styl</div><div class=\"rv\">${esc(f(d.styl))}</div></div>\n    <div class=\"row\"><div class=\"rl\">Vzorový web</div><div class=\"rv\">${d.vzor_web ? `<a href=\"${esc(d.vzor_web)}\">${esc(d.vzor_web)}</a>` : '\\u2014'}</div></div>\n    <div class=\"row\"><div class=\"rl\">Materiály</div><div class=\"rv\">${esc(f(d.logo_fotky))}</div></div>\n  </div>\n  ${d.must_have ? `<div class=\"sec\"><div class=\"st\">Musí tam být</div><div class=\"rv\" style=\"white-space:pre-wrap\">${esc(d.must_have)}</div></div>` : ''}\n  <div class=\"div\"></div>\n  <div class=\"sec\">\n    <div class=\"st\">📋 Vygenerovaný AI prompt</div>\n    <div class=\"prompt-box\">\n      <pre>${esc(d.generatedPrompt || '\\u2014 prompt nebyl vygenerován \\u2014')}</pre>\n    </div>\n  </div>\n</div>\n<div class=\"ftr\">webdo24.cz &nbsp;&bull;&nbsp; ${ts} &nbsp;&bull;&nbsp; <a href=\"${esc(d.zdroj || 'https://webdo24.cz')}\">webdo24.cz</a></div>\n</div></body></html>`;\n\n/* ── AUTO-REPLY ZÁKAZNÍKOVI ──────────────────────────────────── */\nconst customerHtml = `<!DOCTYPE html>\n<html lang=\"cs\"><head><meta charset=\"UTF-8\">\n<style>\n*{box-sizing:border-box}\nbody{margin:0;padding:20px;background:#f1f5f9;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif}\n.wrap{max-width:560px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;box-shadow:0 4px 32px rgba(0,0,0,.10)}\n.hdr{background:linear-gradient(135deg,#1e1b4b,#312e81);padding:48px 36px;text-align:center;color:#fff}\n.hdr .ico{font-size:52px;margin-bottom:16px}\n.hdr h1{margin:0;font-size:24px}\n.body{padding:40px 36px}\n.body p{color:#475569;line-height:1.75;margin:0 0 16px}\n.hl{background:#eff6ff;border-left:4px solid #6366f1;padding:16px 20px;border-radius:0 8px 8px 0;margin:24px 0;color:#1e3a8a;font-weight:600}\nul{color:#475569;line-height:1.9;padding-left:20px;margin:0 0 16px}\n.cb{background:#f8fafc;border:1px solid #e2e8f0;border-radius:10px;padding:20px 24px;margin-top:28px}\n.cb p{margin:0 0 8px;color:#64748b;font-size:13px}\n.cb a{color:#6366f1;font-weight:700;font-size:15px;display:block;margin-bottom:6px}\n.ftr{background:#f8fafc;padding:14px 36px;font-size:12px;color:#94a3b8;text-align:center;border-top:1px solid #e2e8f0}\n</style></head>\n<body><div class=\"wrap\">\n<div class=\"hdr\">\n  <div class=\"ico\">🎉</div>\n  <h1>Poptávka přijata!</h1>\n</div>\n<div class=\"body\">\n  <p>Ahoj <strong>${esc(f(d.kontakt_jmeno))}</strong>,</p>\n  <p>přijal jsem vaši poptávku pro <strong>${esc(f(d.firma))}</strong>. Ozvu se vám osobně do hodiny (Po–Pá 8:00–20:00).</p>\n  <div class=\"hl\">⚡ Váš požadovaný termín: <strong>${esc(f(d.urgence))}</strong></div>\n  <p><strong>Mezitím si připravte:</strong></p>\n  <ul>\n    <li>Logo (pokud máte)</li>\n    <li>Fotky z vašeho prostředí nebo produktů</li>\n    <li>Texty, které chcete použít <em>(nepovinné — napíšu za vás)</em></li>\n  </ul>\n  <div class=\"cb\">\n    <p>Potřebujete něco upřesnit? Ozvěte se:</p>\n    <a href=\"tel:+420777123456\">+420 777 123 456</a>\n    <a href=\"mailto:jan@webdo24.cz\">jan@webdo24.cz</a>\n  </div>\n</div>\n<div class=\"ftr\">webdo24.cz &nbsp;&bull;&nbsp; Profesionální weby do 24 hodin</div>\n</div></body></html>`;\n\nreturn [{\n  json: {\n    ...d,\n    emailJan: janHtml,\n    emailCustomer: customerHtml,\n    subjectJan: '🔥 Nová poptávka: ' + f(d.firma) + ' — ' + f(d.urgence),\n    subjectCustomer: 'Přijal jsem vaši poptávku — ozvu se do hodiny \\u2713',\n    hasEmail: !!(d.kontakt_email && d.kontakt_email.includes('@'))\n  }\n}];"
      }
    },
    {
      "id": "3f8a1b2c-0003-4a5b-8c9d-000000000003",
      "name": "E-mail Janovi — Notifikace",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "fromEmail": "noreply@webdo24.cz",
        "toEmail": "jan@webdo24.cz",
        "subject": "={{ $json.subjectJan }}",
        "emailType": "html",
        "message": "={{ $json.emailJan }}"
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP — webdo24.cz ❌ NASTAV SVE SMTP"
        }
      }
    },
    {
      "id": "3f8a1b2c-0004-4a5b-8c9d-000000000004",
      "name": "E-mail zákazníkovi — Auto-reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "fromEmail": "jan@webdo24.cz",
        "toEmail": "={{ $json.kontakt_email }}",
        "subject": "={{ $json.subjectCustomer }}",
        "emailType": "html",
        "message": "={{ $json.emailCustomer }}"
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP — webdo24.cz ❌ NASTAV SVE SMTP"
        }
      }
    },
    {
      "id": "3f8a1b2c-0005-4a5b-8c9d-000000000005",
      "name": "Odpověď webu — 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1160,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "{ \"success\": true, \"message\": \"Poptvka přijata\" }"
      }
    }
  ],
  "connections": {
    "Webhook — Příjem poptvky": {
      "main": [
        [
          {
            "node": "Kód — Formátování + HTML e-maily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kód — Formátování + HTML e-maily": {
      "main": [
        [
          {
            "node": "E-mail Janovi — Notifikace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mail Janovi — Notifikace": {
      "main": [
        [
          {
            "node": "E-mail zákazníkovi — Auto-reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mail zákazníkovi — Auto-reply": {
      "main": [
        [
          {
            "node": "Odpověď webu — 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "webdo24-intake-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "webdo24"
  }
}